@*<ul id="menu" >
    <li>
        <a href="#" title="Save project" class="icon-save"></a>
        <a href="#" title="Revert changes" class="icon-revert"></a>
        <a href="#" title="New inspection" class="icon-newinspection"></a>
    </li>
</ul>*@
inspections