<div data-bind="if: $root.chosenSectionId() != null">
    <table class="observationTable">
        <tr>
            <thead>
                <th>Start date</th>
                <th>End date</th>
                <th>Video Url</th>    
            </thead>
            <tbody data-bind="foreach: $root.chosenSectionData">
                <tr data-bind="css: { selected: InspectionId == $root.chosenInspectionId() }, click: $root.goToInspection">
                    <td data-bind="text: StartDate"></td>
                    <td data-bind="text: EndDate"></td>
                    <td data-bind="text: VideoUrl"></td>
                </tr>
            </tbody>
        </tr>
    </table>
</div>