<div>
    <ul data-bind="foreach: $root.chosenSectionData">
        <li data-bind="css: { selected: InspectionId == $root.chosenInspectionId() }, click: $root.goToInspection">
            <span data-bind="text: StartDate"></span>
            <span data-bind="text: EndDate"></span>
            <span data-bind="text: VideoUrl"></span>
        </li>
    </ul>
</div>