<ul id="menu" >
    <li>
@*        <a href="#" title="Save observation" class="icon-save" data-bind="click: saveObservations"></a>
        <a href="#" title="Revert changes" class="icon-revert" data-bind="click: revertObservations"></a>*@
        <a href="#" title="New observation" class="icon-newobservation" data-bind="click: createObservation"></a>
    </li>
</ul>