﻿<h2>Edit Observation</h2>

<form class="form-horizontal" data-bind="with: EditingObservation, validate: $root.observationValidationConfig">
        <fieldset>
        <legend>Observation Id <span data-bind="text: ObservationId"></span></legend>
        <div class="control-group">
            <label class="control-label" for="Position">Position</label>
            <div class="controls">
                <input type="text" class="input-xlarge" name="Position" id="Position" data-bind="value: Position, autovalidate: true"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="Tag">Tag</label>
            <div class="controls">
                <input type="text" class="input-xlarge" name="Tag" id="Tag" data-bind="value: Tag, autovalidate: true"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="Description">Description</label>
            <div class="controls">
                <textarea class="input-xlarge" rows="3" name="Description" id="Description" data-bind="value: Description, autovalidate: true"></textarea>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="SecondsIntoVideo">Video Offset</label>
            <div class="controls">
                <input type="text" class="input-xlarge" name="SecondsIntoVideo" id="SecondsIntoVideo" data-bind="value: SecondsIntoVideo, autovalidate: true"/>
            </div>
        </div>
    </fieldset>
    <div class="form-actions">
        <button class="btn btn-primary" type="submit" data-bind="enable: IsUpdated() || IsAdded()"><i class="icon-ok icon-white"></i> Save changes</button>
        <a class="btn btn-danger" href="#" data-bind="visible: CanDelete, click: $parent.deleteObservation"><i class="icon-trash icon-white"></i> Delete</a>
        <a class="btn" href="#" data-bind="click: $parent.showDefaultView"><i class="icon-arrow-left"></i> Back to observations</a>
        <a class="btn" href="#" data-bind="visible: IsUpdated, click: $parent.revertObservations"><i class="icon-remove"></i> Undo changes</a>
    </div>
</form>