<div>
    <ul class="projectList" data-bind="foreach: projects">
        <li data-bind="css: { selected: ProjectId == $root.chosenProjectId() }, click: $root.goToProject">
            <strong data-bind="text: Name"></strong><br/>
            <em data-bind="text: Description"></em>
        </li>
    </ul>
</div>