<ul id="menu" >
    <li>
@*        <a href="#" title="Save project" class="icon-save"></a>
        <a href="#" title="Revert changes" class="icon-revert"></a>
        <a href="#" title="New project" class="icon-newproject"></a>*@
    </li>
</ul>