<div>
    <ul data-bind="foreach: projects">
        <li data-bind="css: { selected: ProjectId == $root.chosenProjectId() }, click: $root.goToProject">
            <span data-bind="text: Name"></span>
            <em data-bind="text: Description"></em>
        </li>
    </ul>
</div>