<div data-bind="if: $root.chosenProjectId() != null">
    <table class="sectionTable">
        <tr>
            <thead>
                <th>Number</th>
                <th>Length</th>
                <th>City</th>
                <th>Street</th>         
            </thead>
            <tbody data-bind="foreach: $root.chosenProjectData">
                <tr data-bind="css: { selected: SectionId == $root.chosenSectionId(), updated: IsUpdated }, click: $root.goToSection">
                    <td data-bind="text: Number"></td>
                    <td><input data-bind="value: Length" /></td>
                    <td><input data-bind="value: City" /></td>
                    <td><input data-bind="value: Street" /></td>
                </tr>
            </tbody>
        </tr>
    </table>
</div>