<div data-bind="if: $root.ChosenProjectId() != null">
    <table class="sectionTable">
        <tr>
            <thead>
                <th>Number</th>
                <th>Length</th>
                <th>City</th>
                <th>Street</th>    
                <th></th>     
                <th></th>     
            </thead>
            <tbody data-bind="foreach: Sections">
                <tr data-bind="css: { selected: SectionId == $parent.ChosenSectionId(), updated: IsUpdated, added: IsAdded }, click: $parent.selectSection">
                    <td data-bind="text: Number"></td>
                    <td data-bind="text: Length" ></td>
                    <td data-bind="text: City" ></td>
                    <td data-bind="text: Street" ></td>
                    <td><a href="#" data-bind="click: $parent.editSection">details</a></td>
                    <td><a href="#" data-bind="click: $parent.deleteSection">delete</a></td>
                </tr>
            </tbody>
        </tr>
    </table>
</div>