﻿<h2>Edit Section</h2>

<form class="form-horizontal" data-bind="with: EditingSection, submit: saveSections">
    <fieldset>
        <legend>Section Id <span data-bind="text: SectionId"></span></legend>
        <div class="control-group">
            <label class="control-label" for="Number">Number</label>
            <div class="controls">
                <input type="text" class="input-xlarge" id="Number" data-bind="value: Number"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="Length">Length</label>
            <div class="controls">
                <input type="text" class="input-xlarge" id="Length" data-bind="value: Length"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="City">City</label>
            <div class="controls">
                <input type="text" class="input-xlarge" id="City" data-bind="value: City"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="Street">Street</label>
            <div class="controls">
                <input type="text" class="input-xlarge" id="Street" data-bind="value: Street"/>
            </div>
        </div>
    </fieldset>
    <div class="well">
        <button class="btn btn-primary" type="submit" data-bind="enable: IsUpdated() || IsAdded()"><i class="icon-ok icon-white"></i> Save changes</button>
        <a class="btn btn-danger" href="#" data-bind="visible: CanDelete, click: $parent.deleteSection"><i class="icon-trash icon-white"></i> Delete</a>
        <a class="btn" href="#" data-bind="click: $parent.showDefaultView"><i class="icon-arrow-left"></i> Back to sections</a>
        <a class="btn" href="#" data-bind="visible: IsUpdated, click: $parent.revertSections"><i class="icon-remove"></i> Undo changes</a>
    </div>
</form>