<ul id="menu" >
    <li>
@*        <a href="#" title="Save section" class="icon-save" data-bind="click: saveSections"></a>
        <a href="#" title="Revert changes" class="icon-revert" data-bind="click: revertSections"></a>*@
        <a href="#" title="New section" class="icon-newsection" data-bind="click: createSection"></a>
    </li>
</ul>