@using Sewerage.Resources.Views.Home
@{
    ViewBag.Title = AboutStrings.Title;
}

<div class="row-fluid">
    <div class="span9">
        <hgroup>
            <h1>@ViewBag.Title.</h1>
            <h2>@ViewBag.Message</h2>
        </hgroup>
        <article>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin luctus tincidunt justo nec tempor. 
                Aliquam erat volutpat. Fusce facilisis ullamcorper consequat. Vestibulum non sapien lectus. Nam 
                mi augue, posuere at tempus vel, dignissim vitae nulla. Nullam at quam eu sapien mattis ultrices. 
                Quisque quis leo mi, at lobortis dolor. Nullam scelerisque facilisis placerat. Fusce a augue 
                erat, malesuada euismod dui. Duis iaculis risus id felis volutpat elementum. Fusce blandit iaculis 
                quam a cursus. Cras varius tincidunt cursus. Morbi justo eros, adipiscing ac placerat sed, posuere 
                et mi. Suspendisse vulputate viverra aliquet. Duis non enim a nibh consequat mollis ac tempor 
                lorem. Phasellus elit leo, semper eu luctus et, suscipit at lacus. In hac habitasse platea 
                dictumst. Duis dignissim justo sit amet nulla pulvinar sodales.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin luctus tincidunt justo nec tempor. 
                Aliquam erat volutpat. Fusce facilisis ullamcorper consequat. Vestibulum non sapien lectus. Nam 
                mi augue, posuere at tempus vel, dignissim vitae nulla. Nullam at quam eu sapien mattis ultrices. 
                Quisque quis leo mi, at lobortis dolor. Nullam scelerisque facilisis placerat. Fusce a augue 
                erat, malesuada euismod dui. Duis iaculis risus id felis volutpat elementum. Fusce blandit iaculis 
                quam a cursus. Cras varius tincidunt cursus. Morbi justo eros, adipiscing ac placerat sed, posuere 
                et mi. Suspendisse vulputate viverra aliquet. Duis non enim a nibh consequat mollis ac tempor 
                lorem. Phasellus elit leo, semper eu luctus et, suscipit at lacus. In hac habitasse platea 
                dictumst. Duis dignissim justo sit amet nulla pulvinar sodales.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin luctus tincidunt justo nec tempor. 
                Aliquam erat volutpat. Fusce facilisis ullamcorper consequat. Vestibulum non sapien lectus. Nam 
                mi augue, posuere at tempus vel, dignissim vitae nulla. Nullam at quam eu sapien mattis ultrices. 
                Quisque quis leo mi, at lobortis dolor. Nullam scelerisque facilisis placerat. Fusce a augue 
                erat, malesuada euismod dui. Duis iaculis risus id felis volutpat elementum. Fusce blandit iaculis 
                quam a cursus. Cras varius tincidunt cursus. Morbi justo eros, adipiscing ac placerat sed, posuere 
                et mi. Suspendisse vulputate viverra aliquet. Duis non enim a nibh consequat mollis ac tempor 
                lorem. Phasellus elit leo, semper eu luctus et, suscipit at lacus. In hac habitasse platea 
                dictumst. Duis dignissim justo sit amet nulla pulvinar sodales.
            </p>
        </article>
    </div>
    <div class="span3">
        <aside class="well">
            <h3>@AboutStrings.Contact</h3>
            <address>
                <strong>Tobias Studer</strong><br />
                Hagmattstrasse 8<br />
                4600 Olten<br />
                <br/>
                <abbr title=@AboutStrings.Mobile>M:</abbr> +41 79 203 37 89<br />
                <abbr title=@AboutStrings.Private>P:</abbr> +41 62 534 31 64<br />
                <abbr title=@AboutStrings.Email>E:</abbr> <a href="mailto:tobias.studer@students.fhnw.ch">tobias.studer@students.fhnw.ch</a>
            </address>
        </aside>
    </div>
</div>

