@{
    ViewBag.Title = "Contact";
}

@section sidebar
{
    <aside class="well">
        <h3>Picture</h3>
        <ul class="thumbnails">
            <li class="span2">
                <a href="#" class="thumbnail">
                    <img src="~/Content/images/portrait.jpg" alt="Tobias Studer" />
                </a>
            </li>
        </ul>
    </aside><!--/.well -->
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<div>
    <address>
        <strong>Tobias Studer</strong><br>
        Hagmattstrasse 8<br>
        4600 Olten<br>
        <abbr title="Mobile">M:</abbr> +41 79 203 37 89<br>
        <abbr title="Phone">P:</abbr> +41 62 298 25 54<br>
        <abbr title="E-Mail">E:</abbr> <a href="mailto:tobias.studer@students.fhnw.ch">tobias.studer@students.fhnw.ch</a>
    </address>
</div>