@using Sewerage.Controllers
@{
    ViewBag.Title = "Welcome to ASP.NET Single Page Application";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@ViewBag.Title.</h1>
        </hgroup>
    </div>
</section>
}
@(Html.UpshotContext(bufferChanges: true).DataSource<DataServiceController>(x => x.GetProjects()))

<h3>Projects</h3>
<ol data-bind="foreach: projects">
    <li>
        <strong data-bind="text: Description"></strong>
    </li>
</ol>

<script src="~/Scripts/App/ProjectsViewModel.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        ko.applyBindings(new ProjectsViewModel());
    });
</script>