@using Sewerage.Controllers
@{
    ViewBag.Title = "Sewerage";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@ViewBag.Title.</h1>
            <h2>@ViewBag.Message</h2>
        </hgroup>
    </div>
</section>
}
@(Html.UpshotContext(bufferChanges: true).DataSource<SewerageController>(x => x.GetProjects()))

<h3>Projects</h3>
<ul data-bind="foreach: projects">
    <li data-bind="text: Name, 
                   css: { selected: ProjectId == $root.chosenProjectId() }, 
                   click: $root.goToProject">
    </li>
</ul>

<ul data-bind="foreach: $root.chosenProjectData">
    <li data-bind="text: Number, 
                   css: { selected: SectionId == $root.chosenSectionId() }, 
                   click: $root.goToSection">
    </li>
</ul>

<ul data-bind="foreach: $root.chosenSectionData">
    <li data-bind="text: StartDate"></li>
</ul>

<script src="~/Scripts/App/SewerageViewModel.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        ko.applyBindings(new SewerageViewModel());
    });
</script>