body{
  padding-top: 60px;
  padding-bottom: 40px;
}

.project-nav-list {
    padding: 8px 0;
}

.edit-row {
    width: 65px;
}

.delete-row {
    width: 65px;
}

#silverlightForm {
    z-index: -100;
}

#silverlightControlHost {
    z-index: -100;
}

#silverlightControl {
    height: 349px;
    z-index: -100;
}